<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="common/fragments :: header">
		<meta charset="ISO-8859-1">
		
		<title th:text="${title}"></title>
	</head>
	<body>
		<div th:replace="common/fragments :: navbar"></div>
		
		<div class="container">			
	
		<table class="table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Employes</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dept : ${departements}">
					<td>
						<a th:href="@{'/departements/' + ${dept.id}}"><span th:text="${dept.nom}"></span></a>
					</td>
					<td>
						<span th:text="${dept.employes.size()}"></span>
					</td>
				</tr>
			</tbody>
		</table>
			
		</div>
	</body>
</html>


<!-- localhost:8090/users/123 -->


